body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

p .link {
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white
}

h3 {
    font-size: 21px;
    color: grey;
}

p .copyrright {
    color: grey;
}